version: "3.8"

volumes:
  runtime-volume:

services:
  web-backend-app:
    image: myapp/myapp/web-backend-app
    build: web_backend
    restart: always
    env_file:
      - ./envs/web_backend.env
    command:
      bash -c "waitforit -host=db -port=5432 --timeout 30 &&
      python /code/manage.py collectstatic --noinput &&
      python /code/manage.py migrate &&
      gunicorn --workers=2 --bind=0.0.0.0:8000 myapp.wsgi:application --reload"
    depends_on:
      db:
        condition: service_started
      redis:
        condition: service_started
    volumes:
      - runtime-volume:/data
      - ./web_backend/:/code
      - ./web_backend/myapp/static:/data/static

  web-frontend-app:
    image: myapp/myapp/web-frontend-app-bundled
    build:
      context: web_frontend
      dockerfile: Dockerfile
      target: prod
    restart: always
    env_file:
      - ./envs/web_frontend.env
    environment:
      - CHOKIDAR_USEPOLLING=true
    ports:
      - "3000:3000"
    depends_on:
      web-backend-app:
        condition: service_started
    volumes:
      - './web_frontend:/app'
      - '/app/node_modules'

  nginx-proxy:
    image: nginx:1.17-alpine
    ports:
      - "9000:80"
    volumes:
      - ./nginx/local:/etc/nginx/conf.d
    depends_on:
      web-backend-app:
        condition: service_started
      web-frontend-app:
        condition: service_started

  db:
    image: "library/postgres:13.1-alpine"
    restart: always
    ports:
      - 5432:5432
    healthcheck:
      test: [ "CMD", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 10s
      timeout: 5s
      retries: 5
    env_file:
      - ./envs/web_backend.env

  redis:
    restart: unless-stopped
    image: "library/redis:6.0.10-alpine3.12"
    ports:
      - 6379:6379
