# Django
SECRET_KEY=
ENV=dev
DJANGO_SETTINGS_MODULE=

# Django DB connection
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=app_backend_db
POSTGRES_INITDB_ARGS=--lc-collate=C

# Social auth?

# Cloud provider?

# Monitoring?

# Mail?

# Celery?
REDIS_URL=redis://redis:6379/1
