# Django
SECRET_KEY=
ENV=dev

# Django DB connection
POSTGRES_DB=myapp
POSTGRES_USER=myapp
POSTGRES_PASSWORD=
POSTGRES_HOST=db
POSTGRES_INITDB_ARGS=--lc-collate=C

# Social auth?

# Cloud provider?

# Monitoring?

# Mail?

# Celery?
REDIS_URL=redis://redis:6379/1
